<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <title>Error 404</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="{% static 'js/jqueryjs' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    



</head>

<body id="myPage" data-target=".navbar" data-offset="50">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#myPage">Error 404</a>
                <img id="img1" src="{% static '/images/logo2.png' %}" alt="New York" width="50" height="50">

            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                {% if user.is_authenticated %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/user">Hi {{user|title}}</a></li>
                        <li><a href="/">HOME</a></li>
                        <li><a href="#band">BAND</a></li>
                        <li><a href="#tour">TOUR</a></li>
                        <li><a href="#contact">CONTACT</a></li>
                        <li><a href="/logout">LOGOUT</a></li>
                {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">HOME</a></li>
                        <li><a href="#band">BAND</a></li>
                        <li><a href="#tour">TOUR</a></li>
                        <li><a href="#contact">CONTACT</a></li>
                        <li><a href="/admin">ADMIN</a></li>
                {% endif %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">MORE
                                <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Merchandise</a></li>
                                <li><a href="#">Extras</a></li>
                                <li><a href="#">Media</a></li>
                            </ul>
                        </li>
                        <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
                    </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                
                
            </div>
            <div class="col-xs-8">
                {% block content %}

                {% endblock %}
            </div>

        </div>
    </div>







    <!-- Footer -->


    <footer class="fixed-footer">
        <!-- <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP"> -->
        <!-- <span class="glyphicon glyphicon-chevron-up"></span> -->
        </a><br><br>
        <p><a href="msadilshakir.pythonanywhere.com" data-toggle="tooltip" title="Visit w3schools">Error 404</a></p>
    </footer>

    <script>
        $(document).ready(function () {
            // Initialize Tooltip
            $('[data-toggle="tooltip"]').tooltip();

            // Add smooth scrolling to all links in navbar + footer link
            $(".navbar a, footer a[href='#myPage']").on('click', function (event) {

                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {

                    // Prevent default anchor click behavior
                    event.preventDefault();

                    // Store hash
                    var hash = this.hash;

                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 900, function () {

                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    });
                } // End if
            });
        })
    </script>

</body>

</html>